@font-face {
    font-family:nioqui ;
    src: url(fonts/Honk-Regular.woff);
    font-family: nioqui2;
    src:url(fonts/Honk-Regular.woff2);
}
html{
    background-color: gray;
}
body{
    display: flex;
    background-color: whitesmoke;
    height: 520px;
}
form{
    border: solid rgba(209, 130, 11, 0.7);
    box-shadow: 0px 8px 16px red;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: nioqui;
}
.all-items{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    

}
.form-items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.side-logo{
    background-image:url(original\ \(1\).jpg);
    width: 1000px;
   
}
header{
    width: 400px;
}
header>div>h1{
    font-family: nioqui2;
}
.description{
    background-color: rgb(29, 240, 240,0.5);
    padding-left: 15px;
}
.logo{
    background-color: rgb(3, 3, 3,0.5);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: aqua;
}
button{
    width:80px  ;
    height: auto;
    border-radius: 30%;
    background-color: rgb(245, 157, 94);
    margin-top: 15px;
}
.formulary{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input:invalid{
    border: solid rgba(255, 17, 0, 0.5);
}

.password:invalid{
    border: solid red;
}
form>div>label{
    margin-bottom: 5px;
    margin-top: 5px;
}


input:focus{
    border: solid blue;
    box-shadow: 2px 2px red;
}