@font-face {
    font-family: 'Honk';
    src: url('Honk-Regular.woff2') format('woff2'),
        url('Honk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

